<nav class="blue" >
    <div class="nav-wrapper">
      <%= link_to "GeekLab", root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <%if user_signed_in?%>
          <li><a class="waves-effect waves-light  modal-trigger" href="#modal1"><i class="material-icons">search</i> </a>
</li>
          <li><%= link_to "Notas", notes_path, id: 'nota'%></li>
          <li><%= link_to "Clientes", clients_path, id: 'clientes'%></li>
          <li><%= link_to "Dispositivos", devices_path,id: 'device'%></li>
          <li><%= link_to "Marcas", brands_path,id: 'marca'%></li>
          
          <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, id: 'salida' %> </li>
        <% end %>
      </ul>
    </div>
</nav>