<!DOCTYPE html>
<html>
<head>
  <title>Geeklab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  
  <!-- Compiled and minified JavaScript 
  
   -->
</head>
<body class="blue-grey lighten-5">
  <%=render "partials/nav" %>
  <%if notice%>
    <div id="notice_wrapper">
      <p class="notice"><%=notice%></p>
    </div>
  <%elsif alert%>
    <div id="notice_wrapper">
      <p class="alert"><%=alert%></p>
    </div>
  <%end%>
	<div class="container">
		<%= yield %>	
	</div>
  <%=render "partials/buttons" %>
  <%=render "partials/modal" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  
</body>
</html>
